{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h2 class="text-center">Contact us form</h2>
            <div class="col-md-2 col-md-offset-5 text-center whiteBackground">
                <form action="{{ path('contact_us') }}" method="post" class="form-horizontal">
                    <div class="form-group text-center">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-primary" value="send">Send</button>
                        {{ form_end(form) }}
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
{% endblock %}